.actor, .movie{
    float: left;
    width: 50%;
    text-align: center;
}

img{
    max-width: 100%;
}

.time-tracker{
    float: left;
    width: 100%;
    font-size: 70px;
    text-align: center;
    margin-top: 30px;
}

.options{
    float: left;
    text-align: center;
    width: 100%;
}

button{
    font-size: 30px;
}

.user-score{
    font-size: 30px;
    width: 100%;
    float: left;
}

.start{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
}